.DS_Store
.idea/
.vscode/
node_modules/
playwright-report/
test-results/

apps/api/.env
apps/api/bootstrap/cache/*.php
apps/api/storage/*.key
apps/api/vendor/

apps/marketing/.env.local
apps/marketing/.next/
apps/marketing/node_modules/

apps/app/.env.local
apps/app/.next/
apps/app/node_modules/
